<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanbo.hotel.dao.IRuZhuDao" > 
  <resultMap id="BaseResultMap" type="com.lanbo.hotel.pojo.RuZhu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="kehu_id" property="keHu_id" jdbcType="INTEGER" />
    <result column="kehu" property="keHu" jdbcType="VARCHAR" />
    <result column="bianhao" property="bianHao" jdbcType="VARCHAR" />
    <result column="fjhao" property="fjHao" jdbcType="VARCHAR" />
    <result column="yuding" property="yuDing" jdbcType="VARCHAR" />
    <result column="jzsj" property="jzSj" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    <result column="rzsj" property="rzSj" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    <result column="rzts" property="rzTs" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="sfzhao" property="sfzHao" jdbcType="VARCHAR" />
    <result column="dianhua" property="dianHua" jdbcType="VARCHAR" />
    <result column="fangjian_id" property="fangJian_id" jdbcType="INTEGER" />
    <result column="fangxing" property="fangXing" jdbcType="VARCHAR" />
    <result column="jiage" property="jiaGe" jdbcType="FLOAT" />
    <result column="jine" property="jinE" jdbcType="FLOAT" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="fuzeren" property="fuzeRen" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, kehu_id, kehu, bianhao,fjhao,yuding, jzsj, rzsj, rzts, name,sex,sfzhao,dianhua,fangjian_id,fangxing,jiage,jine, state, fuzeren, remark
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ruzhu_t
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from ruzhu_t
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lanbo.hotel.pojo.RuZhu" >
    insert into ruzhu_t (kehu_id,kehu, bianhao,fjhao,yuding, jzsj, rzsj, rzts, name,sex,sfzhao,dianhua,fangjian_id,fangxing,jiage,jine, state, fuzeren, remark)
    values (#{keHu_id,jdbcType=INTEGER},#{keHu,jdbcType=VARCHAR}, #{bianHao,jdbcType=VARCHAR}, #{fjHao,jdbcType=VARCHAR}, #{yuDing,jdbcType=VARCHAR}, #{jzSj,jdbcType=TIMESTAMP}, #{rzSj,jdbcType=TIMESTAMP}, #{rzTs,jdbcType=INTEGER},
      #{name,jdbcType=VARCHAR},#{sex,jdbcType=VARCHAR},#{sfzHao,jdbcType=VARCHAR},#{dianHua,jdbcType=VARCHAR},#{fangJian_id,jdbcType=INTEGER},#{fangXing,jdbcType=VARCHAR},#{jiaGe,jdbcType=FLOAT},#{jinE,jdbcType=FLOAT},
      #{state,jdbcType=VARCHAR}, #{fuzeRen,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR})
  </insert>
  <update id="updateById" parameterType="com.lanbo.hotel.pojo.RuZhu" >
    update ruzhu_t
    set kehu_id = #{keHu_id,jdbcType=INTEGER},
      kehu = #{keHu,jdbcType=VARCHAR},
      bianhao = #{bianHao,jdbcType=VARCHAR},
      fjhao = #{fjHao,jdbcType=VARCHAR},
      yuding = #{yuDing,jdbcType=VARCHAR},
      jzsj = #{jzSj,jdbcType=TIMESTAMP},
      rzsj = #{rzSj,jdbcType=TIMESTAMP},
      rzts = #{rzTs,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      sfzhao = #{sfzHao,jdbcType=VARCHAR},
      dianhua = #{dianHua,jdbcType=VARCHAR},
      fangjian_id = #{fangJian_id,jdbcType=INTEGER},
      fangxing = #{fangXing,jdbcType=VARCHAR},
      jiage = #{jiaGe,jdbcType=FLOAT},
      jine = #{jinE,jdbcType=FLOAT},
      state = #{state,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      fuzeren = #{fuzeRen,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="hashmap">
    select
    <include refid="Base_Column_List" />
    from ruzhu_t where 1=1
    <if test="state != null and state !=''">
        and state = #{state}
    </if>
    <if test="id != null and id !=''">
        and kehu_id = #{id}
    </if>
    order by id limit #{beginRow},#{pageSize}
  </select>
  <select id="selectRows" resultType="int" parameterType="hashmap">
    select
    count(1)
    from ruzhu_t where 1=1
    <if test="state != null and state !=''">
        and state = #{state}
    </if>
  </select>
  <update id="updateState" parameterType="com.lanbo.hotel.pojo.RuZhu" >
    update ruzhu_t set 
      state = #{state,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectRzJiBies" resultType="int" parameterType="com.lanbo.hotel.pojo.RuZhu" >
    select
    count(1)
    from ruzhu_t where 1=1
   <!--and jibie = #{jiBie,jdbcType=VARCHAR} and rzSj <= #{rzSj,jdbcType=TIMESTAMP} and date_add(rzSj, interval rzts day)>= #{rzSj,jdbcType=TIMESTAMP} --> 
  </select>
  <update id="jieZhang" parameterType="com.lanbo.hotel.pojo.RuZhu" >
    update ruzhu_t
    set 
      jzsj = #{jzSj,jdbcType=TIMESTAMP},
      rzts = #{rzTs,jdbcType=INTEGER},
      jine = #{jinE,jdbcType=FLOAT},
      state = #{state,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      fuzeren = #{fuzeRen,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>