<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanbo.hotel.dao.IUserDao" >
  <resultMap id="BaseResultMap" type="com.lanbo.hotel.pojo.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="load_name" property="loadName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="zhiwei" property="zhiwei" jdbcType="VARCHAR" />
    <result column="quanxian" property="quanxian" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_name,load_name, password, sex, age, zhiwei, quanxian
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_t
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from user_t
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lanbo.hotel.pojo.User" >
    insert into user_t (user_name,load_name, password, sex, age, zhiwei, quanxian)
    values (#{userName,jdbcType=VARCHAR}, #{loadName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR,}, #{sex,jdbcType=VARCHAR},
      #{age,jdbcType=INTEGER}, #{zhiwei,jdbcType=VARCHAR,}, #{quanxian,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lanbo.hotel.pojo.User" >
    insert into user_t
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="age != null" >
        age,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updatePassword" parameterType="com.lanbo.hotel.pojo.User" >
    update user_t
    <set >
      password = #{password,jdbcType=VARCHAR}
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateById" parameterType="com.lanbo.hotel.pojo.User" >
    update user_t
    set user_name = #{userName,jdbcType=VARCHAR},
      load_name = #{loadName,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      sex = #{sex,jdbcType=VARCHAR},
      zhiwei = #{zhiwei,jdbcType=VARCHAR},
      quanxian = #{quanxian,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByNameAndPassword" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from user_t
    where load_name = #{0} and password = #{1}
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="hashmap">
    select
    <include refid="Base_Column_List" />
    from user_t where 1=1 
    <if test="userName != null and userName !=''">
        and user_name LIKE concat('%',#{userName},'%')
    </if>
    <if test="loadName != null and loadName !=''">
        and load_name LIKE concat('%',#{loadName},'%') 
    </if>
    order by id limit #{beginRow},#{pageSize}
  </select>
  <select id="selectRows" resultType="int" parameterType="hashmap">
    select
    count(1)
    from user_t where 1=1
    <if test="userName != null and userName !=''">
        and user_name LIKE concat('%',#{userName},'%') 
    </if>
    <if test="loadName != null and loadName !=''">
        and load_name LIKE concat('%',#{loadName},'%') 
    </if>
  </select>
  <select id="selectLoadNames" resultType="int" parameterType="com.lanbo.hotel.pojo.User" >
    select
    count(1)
    from user_t where load_name = #{loadName,jdbcType=VARCHAR} and id != #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllUserName" resultType="java.lang.String" parameterType="hashmap">
    select 
    user_name 
    from user_t where 1=1
  </select>
</mapper>