<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanbo.hotel.dao.IYuDingDao" > 
  <resultMap id="BaseResultMap" type="com.lanbo.hotel.pojo.YuDing" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fjhao" property="fjHao" jdbcType="VARCHAR" />
    <result column="kehu" property="keHu" jdbcType="VARCHAR" />
    <result column="zjhao" property="zjHao" jdbcType="VARCHAR" />
    <result column="ydsj" property="ydSj" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    <result column="rzsj" property="rzSj" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    <result column="rzts" property="rzTs" jdbcType="INTEGER" />
    <result column="fuzeren" property="fuzeRen" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, fjhao, kehu, zjhao, ydsj, rzsj, rzts, fuzeren, state, remark
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from yuding_t
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from yuding_t
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lanbo.hotel.pojo.YuDing" >
    insert into yuding_t (fjhao, kehu,zjhao, ydsj, rzsj, rzts, fuzeren, state, remark)
    values (#{fjHao,jdbcType=VARCHAR}, #{keHu,jdbcType=VARCHAR}, #{zjHao,jdbcType=VARCHAR}, #{ydSj,jdbcType=TIMESTAMP}, #{rzSj,jdbcType=TIMESTAMP}, #{rzTs,jdbcType=INTEGER}, #{fuzeRen,jdbcType=VARCHAR,}, #{state,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR})
  </insert>
  <update id="updateById" parameterType="com.lanbo.hotel.pojo.YuDing" >
    update yuding_t
    set fjhao = #{fjHao,jdbcType=VARCHAR},
      kehu = #{keHu,jdbcType=VARCHAR},
      zjhao = #{keHu,jdbcType=VARCHAR},
      ydsj = #{ydSj,jdbcType=TIMESTAMP},
      rzsj = #{rzSj,jdbcType=TIMESTAMP},
      rzts = #{rzTs,jdbcType=INTEGER},
      state = #{state,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      fuzeren = #{fuzeRen,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="hashmap">
    select
    <include refid="Base_Column_List" />
    from yuding_t where 1=1 
    <if test="fjHao != null and fjHao !=''">
        and fjhao LIKE concat('%',#{fjHao},'%')
    </if>
    <if test="state != null and state !=''">
        and state = #{state}
    </if>
    order by id limit #{beginRow},#{pageSize}
  </select>
  <select id="selectRows" resultType="int" parameterType="hashmap">
    select
    count(1)
    from yuding_t where 1=1
    <if test="fjHao != null and fjHao !=''">
        and fjhao LIKE concat('%',#{fjHao},'%') 
    </if>
    <if test="state != null and state !=''">
        and state = #{state}
    </if>
  </select>
  <update id="updateState" parameterType="com.lanbo.hotel.pojo.YuDing" >
    update yuding_t
      state = #{state,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>